html,
body {
    font-family: "Inter";
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.no-scroll {
  overflow: hidden; /* блокируем прокрутку всего сайта */
  height: 100vh;
}

